<h1><%= @list.name %> List</h1>
<p>Movies of the list below</p>

<%= link_to "Bookmark a movie", new_list_bookmark_path(@list) %>

<ul>
  <% @list.movies.each do |movie| %>
    <li><strong><%= movie.title %></strong> <br> <%= movie.overview %> <br>-
      <% movie.bookmarks.each do |bookmark| %>
        <% if bookmark.list_id == @list.id %>
          <em><%= bookmark.comment %> - </em>
          <%= link_to "Remove this bookmark", bookmark_path(bookmark), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        <% end %>
      <% end %>
    </li>
    <br>
  <% end %>
</ul>

<%= link_to "Back to Lists", lists_path %>
